<html lang="">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/neon.css">
	
    <title>ToolsChallenge</title>
</head>
<body>
	<!-- Header -->
	<header id="header">
		<div class="row">
			<div class="col-xs-12">
			    <h1 class="neon">ToolsChallenge</h1>
			</div>
		</div>
	</header>
	
	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="text-center">
						Projeto de uma API em Java e Spring Boot para simular pagamentos.
					</p>
				</div>
			</div>
			
			<hr>
			
			<div class="row text-center">
				<div class="col-xs-12">
					<h4>Endpoints:</h4>
					<p>
						A documentação dos endpoints da API pode ser vista através do Swagger e do Redoc. <br>
						Para consultar a documentação dos endpoints através do Swagger: <span class="bg-info bg-opacity-10 border border-primary rounded">URL_DO_PORJETO/swagger-ui.html</span> <br>
						Para consultar a documentação dos endpoints através do Redoc: <span class="bg-info bg-opacity-10 border border-primary rounded">URL_DO_PORJETO/redoc.html</span> <br>
					</p>
				</div>
			</div>
			
			<hr>
						
			<div class="row text-center">
				<div class="col-xs-12">
					<h4>Dependências:</h4>
					
					<p>
						Este projeto usa o Java 21 e as seguintes dependências:
						<ul class="list-group">
						  <li class="list-group-item">Spring Boot 3.2.4</li>
						  <li class="list-group-item">Spring Security</li>
						  <li class="list-group-item">Swagger</li>
						  <li class="list-group-item">JPA</li>
						  <li class="list-group-item">Devtools</li>
						  <li class="list-group-item">jUnit</li>
						  <li class="list-group-item">Rest-Assured</li>
						</ul>
					</p>
				</div>
			</div>
			
			<hr>
									
			<div class="row text-center">
				<div class="col-xs-12">
					<h4>Banco de dados:</h4>
					
					<p>
						O projeto usa o MySQL para ambiente de desenvolvimento e o H2 para o ambiente de teste. <br>
						Para acessar o painel do H2: <span class="bg-info bg-opacity-10 border border-primary rounded">URL_DO_PORJETO/h2-console</span>
					</p>
				</div>
			</div>
			
			<hr>
												
			<div class="row text-center">
				<div class="col-xs-12">
					<h4>Testes:</h4>
					
					<p>O projeto possui testes de API.</p>
				</div>
			</div>
			
			<hr>
												
			<div class="row text-center">
				<div class="col-xs-12">
					<h4>Rodando o projeto:</h4>
					
					<p>
						O porjeto usa o Spring Boot, para usar rodá-lo basta executar a classe <span class="bg-info bg-opacity-10 border border-primary rounded">ToolschallengeApplication</span>
					</p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
